{% extends 'basesimple.html' %}

{% block mycss %}
    h1 {
        text-align : center;
    }
    div {
        text-align : center;
    }
    img {
        margin : 10px;
        width : 150px;
        height : 150px;
        border : 1px solid black;
        box-shadow : 10px 10px 10px gray;
    }
{% endblock %}

{% block mycontent %}
    <h1>원하는 상품을 클릭해주세요!!</h1>
<hr>
{% load static %}
<div>
    <a href="http://localhost:8000/workapp/basket1/?pid=p001"><img src="{% static 'images/1.jpg' %}"></a>
    <a href="http://localhost:8000/workapp/basket1/?pid=p002"><img src="{% static 'images/2.jpg' %}"></a>
    <a href="http://localhost:8000/workapp/basket1/?pid=p003"><img src="{% static 'images/3.jpg' %}"></a>
    <a href="http://localhost:8000/workapp/basket1/?pid=p004"><img src="{% static 'images/4.jpg' %}"></a>
    <a href="http://localhost:8000/workapp/basket1/?pid=p005"><img src="{% static 'images/5.jpg' %}"></a>
</div>
<div>
    <a href="http://localhost:8000/workapp/basket1/?pid=p006"><img src="{% static 'images/6.jpg' %}"></a>
    <a href="http://localhost:8000/workapp/basket1/?pid=p007"><img src="{% static 'images/7.jpg' %}"></a>
    <a href="http://localhost:8000/workapp/basket1/?pid=p008"><img src="{% static 'images/8.jpg' %}"></a>
    <a href="http://localhost:8000/workapp/basket1/?pid=p009"><img src="{% static 'images/9.jpg' %}"></a>
    <a href="http://localhost:8000/workapp/basket1/?pid=p010"><img src="{% static 'images/10.jpg' %}"></a>
</div>
{% endblock %}
